<h1>añadir Combustible</h1>
<form action="">
    <div>
        <lavel>Tipo de combustible</lavel>
        <input type="text" value="">
    </div>
    <div>
        <lavel>Precio</lavel>
        <input type="text" value="">
    </div>
    <div>
        <lavel>Estacion de servicio</lavel>
        <input type="text" value="">
    </div>
    </div>
    <div>
        <input type="button" value="Guardar">
    </div>
</form>