<h1>modificar estacion</h1>
<form action="">
    <div>
        <lavel>Nombre</lavel>
        <input type="text" value="">
    </div>
    <div>
        <lavel>Latitud</lavel>
        <input type="text" value="">
    </div>
    <div>
        <lavel>Longitud</lavel>
        <input type="text" value="">
    </div>
    </div>
    <div>
        <input type="button" value="Guardar">
    </div>
</form>