<h1>añadir estacion</h1>
<form action="/station/new" method="POST">
    <div>
        <lavel>Nombre</lavel>
        <input type="text" name="nombre" value="">
    </div>
    <div>
        <lavel>Latitud</lavel>
        <input type="text" name="lat" value="">
    </div>
    <div>
        <lavel>Longitud</lavel>
        <input type="text" name="lng" value="">
    </div>
    </div>
    <div>
        <input type="submit" value="Guardar">
    </div>
</form>